@import url("https://fonts.googleapis.com/css2?family=Marcellus&family=Open+Sans:wght@400;500&display=swap");

/********
Global Style
*********/
* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*********
Common style
**********/
.container{
    max-width: 97vw;
    margin: auto;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Marcellus', serif;
}
li, a, p{
    font-family: 'Open Sans', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

/*****
Header
******/

